=form_for(@coupon, html: {multipart: true}) do |f|
	- if @coupon.errors.any?
		%ul#coupon_errors
			-@coupon.errors.full_messages.each do |msg|
				%li
					=msg
	-if brand_signed_in?
		=f.hidden_field "brand_id", value: current_brand.id
	.part
		=f.label :name, "Nombre: "
		=f.text_field :name
	.part
		=f.label :description, "Descripción: "
		=f.text_area :description
	.part
		=f.label :start_date, "Fecha de inicio de promoción:"
		=f.date_select :start_date, use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'], start_year: 2013, order: [:day, :month, :year]
	.part
		=f.label :end_date, "Fecha de fin de promoción:"
		=f.date_select :end_date, use_month_names: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'], start_year: 2013, order: [:day, :month, :year]
	.part
		=f.label :discount, "Descuento (en %):"
		=f.text_field :discount
		#discount_error
			%span#discount_error_message
	- if brand_signed_in?
		.part
			%h2
				¿Dónde estará disponible este cupón?
				= hidden_field_tag "coupon[branch_ids][]", nil
			= render "branches_item", branches: current_brand.branches, coupon: @coupon
	-if admin_signed_in?
		.part
			=f.label "brand_id", "Tienda: "
			=f.collection_select "brand_id", Brand.all, :id, :safe_name, {prompt: true}, data: {coupon_id: @coupon.id}
		.part
			%h2
				¿Dónde estará disponible este cupón?
				= hidden_field_tag "coupon[branch_ids][]", nil
			#replaceable_branches
	.part.file_part
		=f.label :promo_image, "Imagen del cupón: "
		=f.file_field :promo_image
	.part
		=f.label :coupon_type_id, "Tipo del cupon: "
		=f.collection_select :coupon_type_id, CouponType.all, :id, :name
	.part
		=f.label :coupon_state_id, "Estado del cupon: "
		=f.collection_select :coupon_state_id, CouponState.first(2), :id, :name
	.part
		=f.submit