.span4.element{ class: "#{coupon.coupon_type.name}", data: { category: "#{coupon.coupon_type.name}" } }
	.hover_img
		-if coupon.promo_image?
			=image_tag coupon.promo_image.url, alt: ""
		-else
			=image_tag "portfolio/1.jpg", alt: ""
		%span.portfolio_zoom
			=link_to "","img/portfolio/1.jpg", {data: {rel: "prettyPhoto[portfolio1]"}}
		%span.portfolio_link
			=link_to "View item", coupon
	.item_description
		=link_to coupon do
			%b
				=coupon.name
		%br
		= coupon.description