.page_container
	= render "brands/everywhere_logo", current_brand: current_brand, message: "Editando cupon"
	%h1
		Editar Cupon

	=render "form"

	%ul
		%li
			=link_to "volver", coupons_path

-content_for :ready_scripts do
	:javascript
		$(document).ready(function(){
			$("#coupon_start_date_string").datepicker();
			$("#coupon_end_date_string").datepicker();
			$("#coupon_start_date_string").val("#{@coupon.start_date.strftime("%m/%d/%Y") unless @coupon.start_date.nil?}")
			$("#coupon_end_date_string").val("#{@coupon.end_date.strftime("%m/%d/%Y") unless @coupon.start_date.nil?}")
		});

-content_for :custom_libraries do
	- if brand_signed_in? || admin_signed_in?
		=javascript_include_tag "http://code.jquery.com/ui/1.10.4/jquery-ui.js"
		=stylesheet_link_tag "http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"