$(".toChange").replaceWith("#{j render "categories/sub_category_list_item", sb: @subcategory, index: @index, uncomplete: true}");
$(".toChange").removeClass("toChange");
$("#sub_cat_close_button").click();