#district_content{class: @city.name.tr(" ", "_")}
	%h1
		= city.name.upcase
	- unless districts.empty?
		%table.table.table-striped
			%tr
				%th
					\#
				%th
					Nombre
				%th{colspan: "2"}
					Opciones
			- districts.each.with_index(1) do |dt, index|
				= render "district_list_item", dt: dt, index: index, uncomplete: true

=link_to "Crear distrito", "#new_district_form", class: "btn btn-warning", role: "button", data: {toggle: "modal"}

=form_tag districts_create_path, remote: true do
	#new_district_form.modal.hide.fade{tabindex: "-1", role: "dialog", aria:{ labelledby: "myModalLabel", hidden: "true"}}
		.modal-header
			%button.close{ id: "close_button", type: "button", data: {dismiss: "modal"}, aria: {hidden: "true"}}
				×
			%h3
				Nuevo distrito
		.modal-body
			=hidden_field_tag :city_id, city.id
			.new_category_part
				=label_tag :name, "Ciudad: "
				=text_field_tag :name
		.modal-footer
			%button#close_button.btn{data: {dismiss: "modal"}, aria: {hidden: "true"}}
				Cancelar
			=submit_tag "Guardar", class: "btn btn-primary"

=form_tag districts_update_path, remote: true do
	#update_district_form.modal.hide.fade{tabindex: "-1", role: "dialog", aria:{ labelledby: "myModalLabel", hidden: "true"}}
		.modal-header
			%button.close{ id: "close_button", type: "button", data: {dismiss: "modal"}, aria: {hidden: "true"}}
				×
			%h3
				Editar distrito
		.modal-body
			= hidden_field_tag :district_id, value: 0
			.new_category_part
				=label_tag :new_district_name, "Nuevo nombre: "
				=text_field_tag :new_district_name
		.modal-footer
			%button#district_close_button.btn{data: {dismiss: "modal"}, aria: {hidden: "true"}}
				Cancelar
			=submit_tag "Guardar", class: "btn btn-primary"