/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.system_message{
	position: fixed;
	width: 500px;
	margin: 0px -250px;
	left: 50%;
	top: 100px;
	z-index: 999999;
}

.alert_message{
	padding: 10px;
	background: #c0392b;
	color: white;
	margin: 10px auto;
	width: 90%;
	text-align: center;
	font-size: 16px;
}

#user_session_index_start{
	float: left;
}

#user_alternative_session_start{
	float: right;
	padding: 30px 60px;
	text-align: center;
	border-left: 1px solid #ccc;
}

#user_alternative_session_start a{
	padding: 10px;
	display: block;
}

#facebook_login_button{
	color: white;
    border-color: #2d5073;
    background-color: #3b5998;
}

#categories_container{
	background: linear-gradient(to right, rgba(255,255,255,0), rgba(250,124, 94, 0.5) 50%, rgba(255,255,255,0));
	min-height: 40px;
}
#categories_list{
	width: 100%;
	margin: 0 auto;
	background: blue;
	li{
		float: left;
		width: 25%;
		position: relative;
		a{
			padding: 10px 0px;
			text-align: center;
			display: block;
			color: #444444;
		}
		ul.second_list{
			display: none;
			position: absolute;
			width: 100%;
			padding: 0px;
			z-index: 10;
			li{
				clear: both;
				width: 100%;
				background: #222222;
				a{
					color: #F96E5B;
				}
				&:hover{
					background: #F96E5B;
					a{
						color: white;
					}
				}
				.third_list{
					display: none;
				}
			}
		}
		&:hover{
			ul.second_list{
				display: block;
				li:hover{
					ul.third_list{
						display: block;
						position: absolute;
						left: 100%;
						top: 0px;
						width: 100%;
					}
				}
			}
		}
	}
}

.page_container{
	clear: both;
}

.no_hand:hover{
	cursor: default;
}

.categories_in_index{
	.accordion-group{
		border: none;
	    border-bottom: 1px solid #ddd;
	    border-radius: 0px;
	}
}