#error_explanation{
	width: 70%;
	margin: 0 auto 20px;
	background: #c0392b;
	color: white;
	text-align: center;
	border-radius: 5px;
	padding: 5px;
	h2{
		color: white;
		padding: 0px;
	}
	ul li{
		font-size: 15px;
		padding-bottom: 10px
	}
}

.register_title{
	text-align: center;
	font-size: 30px;
	padding: 10px;
}

#new_brand, #edit_brand, #new_user, #edit_user, .edit_brand{
	.sign_in_brand_part, .register_brand_part, .edit_brand_part, .sign_in_user_part, .register_user_part, .edit_user_part{
		text-align: center;
		.to_show{
			display: none;
			margin-bottom: 10px;
		}
	}
	#sub_categories_go_here{
		display: none;
		ul{
			width: 100%;
			li{
				width: 25%;
				float: left;
				input[type=checkbox]{
					float: left;
				}
				.sub_category_checkbox{
					text-align: left;
					margin: 5px;
					position: relative;
					top: -5px;
					left: 5px;
					width: 80%;
				}
			}
		}
	}
	.hide_until_click{
		display: none;
	}
	#important_part, #link_to_change_password{
		margin-bottom: 10px;
	}
	.brand_logo{
		margin: 10px 0px 15px;
	}
	.remember_part{
		width: 15%;
		text-align: center;
		margin: 0 auto;
		padding: 10px;
		input[type=checkbox]{
			float: left;
		}
	}
	.submit_brand_part, .submit_user_part{
		text-align: center;
		input{
			padding: 8px;
			font-size: 15px;
		}
	}
}

#devise_options{
	margin: 30px auto;
	text-align: center;
	a{
		font-size: 16px;
	}
}

.accordion-inner{
	ul{
		li{
			span{
				font-weight: bold;
			}
		}
	}
}

#create_new_branch{
	.new_branch_part{
		select.small-select{
			width: 10%;
		}
		#separator_dash{
			font-size: 20px;
			font-weight: bold;
			padding: 0 10px;
			line-height: 2px;
			position: relative;
			top: -3px;
		}
	}	 
}