#new_coupon, .edit_coupon{
	.part{
		margin: 5px 0px;
		.district_checkbox{
			width: 40%;
			display: inline-block;
			padding: 5px;
			position: relative;
			top: 3px;
		}
		textarea{
			width: 50%;
		}
	}
	.file_part{
		padding: 10px 0px;
	}
}

#coupon_errors{
	padding:10px;
	color: white;
	background: red;
}

#approve_box{
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: #F96E5B;
	form{
		width: 50%;
		margin: 0 auto;
		input[type=submit]{
			background: #F96E5B;
			border: none;
			color: #FFF;
			width: 40%;
			font-size: 20px;
			width: 100%;
			padding: 15px 0px;
			text-transform: uppercase;
		}
	}
	&:hover{
		background: #F9553E;
		form input{
			background: #F9553E;
		}
	}
}

ul.icons li{
	width: 100%;
	a.social_link{
		text-align: center;
		display: inline-block;
		width: 40%;
		padding: 4%;
		img{
			display:inline-block;
		}
	}
}