#new_coupon, .edit_coupon{
	.part{
		margin: 5px 0px;
		.district_checkbox, .coupon_categorization_checkbox{
			width: 40%;
			display: inline-block;
			padding: 5px;
			position: relative;
			top: 3px;
		}
		textarea{
			width: 50%;
		}
		#image_preview{
			display: none;
		}
	}
	.file_part{
		padding: 10px 0px;
	}
}

#coupon_errors{
	padding:10px;
	color: white;
	background: red;
}

#approve_box{
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: #F96E5B;
	form{
		width: 50%;
		margin: 0 auto;
		input[type=submit]{
			background: #F96E5B;
			border: none;
			color: #FFF;
			width: 40%;
			font-size: 20px;
			width: 100%;
			padding: 15px 0px;
			text-transform: uppercase;
		}
	}
	&:hover{
		background: #F9553E;
		form input{
			background: #F9553E;
		}
	}
}

ul.icons li{
	width: 100%;
	a.social_link{
		text-align: center;
		display: inline-block;
		width: 40%;
		padding: 4%;
		img{
			display:inline-block;
		}
	}
}

.brand_name_space_in_coupon{
	position: absolute;
	z-index: 10;
	top: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	background: rgba(0,0,0,0.5);
	h4{
		position: relative;
		width: 100%;
		color: white;
		text-align: center;
	}
}

.branch_address_goes_here{
	padding: 0px 0px 10px;
}

#coupon_creation_confirmation{
	.modal-body{
		.confirmation_part{
			p{
				.confirmation_title{
					font-weight: bold;
				}
			}
		}
	}
}

#regular_link{
	float: right;
}
#accept_creation_part{
	float: left;
	label{
		float: right;
		margin-left: 5px;
		position: relative;
		top: 2px;
	}
}