%h6
	-if brand_signed_in? && current_brand.name?
		#represent_logo
			-if current_brand.logo_image?
				=image_tag current_brand.logo_image.url(:small)
			-if message.empty?
				=link_to current_brand.name, "#", style: "position: relative; top: 10px;"
			-else 
				=link_to current_brand.name + " / #{message}", "#", style: "position: relative; top: 10px;"
	-else
		=link_to "Tu cuponera virtual", "#"