.page_container
	%h6
		%a{href: "index.html"}
			Tiendas
		\/ indice
	.inner_content
		%h1
			Tiendas registradas
		%table.table.table-striped
			%tr
				%th
					\#
				%th
					Nombre
				%th
					Correo de activacion
				%th
					Opciones
			-@brands.each.with_index(1) do |brand, index|
				%tr
					%td
						=index
					%td
						=brand.name? ? brand.name : "No ingresado"
					%td
						=brand.email
					%td
						=link_to "Editar", edit_brand_registration_path(brand)