-if uncomplete == true
	%tr
		%td
			=index
		%td
			=sb.name
		%td
			=link_to "Editar", "#update_sub_category_form", class: "up_sub_cat", role: "button", data: {toggle: "modal", id: "#{sb.id}"}
		%td
			= link_to "Eliminar", sub_categories_destroy_path(sb.id), remote: true, class: "destroy_sb"
-else
	%h1
		= subcategories.first.category.name.upcase
	%table.table.table-striped
		%tr
			%th
				\#
			%th
				Nombre
			%th{colspan: "2"}
				Opciones
		- subcategories.each.with_index(1) do |sb, index|
			%tr
				%td
					=index
				%td
					=sb.name
				%td
					Editar
				%td
					=link_to "Eliminar", sub_categories_destroy_path(sb.id), remote: true, class: "destroy_sb"