.page_container
	%h6
		%a{href: "index.html"}
			home
		\/ categorias
	.inner_content
		.row
			.span3
				%h4 Categorias
				#accordion3.accordion
					- @categories.each do |cat|
						= render "category_list_item", cat: cat
				=link_to "Crear categoria", "#new_category_form", class: "btn btn-warning", role: "button", data: {toggle: "modal"}
			#subcategory_total_content.span9
				%h1
					Listar categorias
				%p
					%b
						Elige una opción en la izquierda para mostrar las subcategorias

=form_tag category_create_path, remote: true do
	#new_category_form.modal.hide.fade{tabindex: "-1", role: "dialog", aria:{ labelledby: "myModalLabel", hidden: "true"}}
		.modal-header
			%button.close{ id: "category_close_button", type: "button", data: {dismiss: "modal"}, aria: {hidden: "true"}}
				×
			%h3
				Editar categoria
		.modal-body
			.new_category_part
				=label_tag :name, "Categoria: "
				=text_field_tag :name
		.modal-footer
			%button#close_button.btn{data: {dismiss: "modal"}, aria: {hidden: "true"}}
				Cancelar
			=submit_tag "Guardar", class: "btn btn-primary"

=form_tag category_update_path, remote: true do
	#update_category_form.modal.hide.fade{tabindex: "-1", role: "dialog", aria:{ labelledby: "myModalLabel", hidden: "true"}}
		.modal-header
			%button.close{ id: "update_category_close_button", type: "button", data: {dismiss: "modal"}, aria: {hidden: "true"}}
				×
			%h3
				Nueva Categoria
		.modal-body
			=hidden_field_tag :cat_id, value: -1
			.new_category_part
				=label_tag :new_name, "Categoria: "
				=text_field_tag :new_name
		.modal-footer
			%button#close_button.btn{data: {dismiss: "modal"}, aria: {hidden: "true"}}
				Cancelar
			=submit_tag "Guardar", class: "btn btn-primary"